

	<div class="mb-3">
		<form class="form m-3 needs-validation ng" [formGroup]="fc">

			<label class="form-label">Nome</label>
      <div class="col-md-4">

        <input
        type="text"
        placeholder="Nome"
        maxlength="50"
        formControlName="nomeCompleto"
        [ngClass]="{'form-control': true,
        'border border-2 border-danger': !fc.get('nomeCompleto')?.valid,
        'border border-2 border-success': fc.get('nomeCompleto')?.valid
      }"
       >


      </div>

      <label class="form-label">CPF</label>
			<input
          minlength="11"
          maxlength="14"
          type="text"
          formControlName="cpf"
          [ngClass]="{'form-control': true,
        'border border-2 border-danger': !fc.get('cpf')?.valid,
        'border border-2 border-success': fc.get('cpf')?.valid
      }"
          >
          <div class="invalid-feedback">
            Preencha o CPF
          </div>
		</form>
		<button class="btn btn-lg btn-success m-3"
      [disabled]="atualizar"
      [disabled]="fc.invalid"
      (click)="insertContribuinte()">Enviar</button>
    <button class="btn btn-lg btn-warning m-3" *ngIf="atualizar" (click)="update()">Atualizar</button>

	</div>

    <table  class="table m-3">
      <thead>
        <th>Id</th>
        <th>Nome Completo</th>
        <th>CPF</th>
        <th>Edit</th>

      </thead>
      <tbody>
        <tr *ngFor="let c of listaContribuintes"
        [ngClass]="{'table-warning': contribuinte.id === c.id && atualizar == true}" >

          <td> {{c.id}}</td>
          <td> {{c.nomeCompleto}}</td>
          <td>{{c.cpf}}</td>
          <td>
            <mat-icon  (click)="edit(c)"  role="button" class="mat-18">edit</mat-icon>
            <mat-icon role="button" class="mat-18" (click)="delete(c)">delete</mat-icon>

        </td>
        </tr>
      </tbody>

    </table>
