<nav class="d-flex justify-content-around p-3 mb-2 bg-light text-dark">
  <button class="btn btn-lg btn-primary" routerLinkActive="active" routerLink="">Home </button>
  <button class="btn btn-lg btn-primary" routerLinkActive="active" routerLink="/contribuinte">Contribuinte </button>
  <button class="btn btn-lg btn-primary" routerLinkActive="active" routerLink="/salario">Salários de Contribuição </button>
  <button class="btn btn-lg btn-primary" routerLinkActive="active" routerLink="/aliquota"> Aliquotas</button>
</nav>
