<div class="container text-center">
  <!-- d-flex flex-row  -->
  <div class="row">

    <div class="m-1 col-lg-3  border border-secondary rounded d-flex flex-column">
      <h3 class="m-2 d-flex justify-content-center align-self-center">
        <span class="badge bg-secondary"> Selecione: </span>
      </h3>

      <button (click)="loadSalarios(c)" class="btn btn-lg btn-warning m-1"
        *ngFor="let c of contribuintes">{{c.nomeCompleto}}</button>
    </div>

    <div class="m-1 col-lg-4 border border-secondary rounded">

      <form [formGroup]="salarioForm" class="form m-2">

        <h3 class="m-2 d-flex justify-content-center align-self-center">
          <span class="badge bg-secondary">{{contribuinteSelected.nomeCompleto}}</span>
        </h3>

        <div *ngIf="contribuinteSelected.id != ''">

          <label class="form-label">Ano-Mês</label>
          <input class="form-control" accept="text"
            formControlName="anoMes"

            placeholder="Ano-Mês Ex. 2015-02">

        <div formArrayName="componentesIncidencia">

          <div
            *ngFor="let c of getComponentesIncidencia().controls"
          class="componentes m-1 mt-2 border border-info rounded"
          >
          <div [formGroup]="c">


            <label class="form-label">Componente salário - INSS</label>
            <input
            class="form-control"
            accept="number"
            type="number"
            placeholder="Digite o valor"
            formControlName="valorComponente"
            >

            <label class="form-label">Descrição (opcional) </label>
            <input
            class="form-control"
            accept="text"
            placeholder="Descrição (opcional) Ex. Horas Extraordinárias"
            formControlName="descricao"
            (keydown.tab)="addComponente()">

          </div>
          </div>
          <button role="button" (click)="addComponente()" class="btn btn-lg btn-info m-2 text-light">

            <mat-icon class="material-icons me-2 fs-2">
              add_circle_outline

            </mat-icon> Componente
          </button>
        </div>
      </div>
    </form>
      <button class="btn btn-lg btn-success m-3"
        [disabled]="atualizar ||    salarioForm.controls.anoMes.invalid"

        (click)="enviar()">Enviar</button>

        <button class="btn btn-lg btn-warning m-3"
        [disabled]="salarioForm.controls.anoMes.invalid"
        *ngIf="atualizar" (click)="update()">Atualizar</button>
    </div>



  </div>

  <div class="response m-1 col-lg-4  border border-secondary rounded">
    <h3 class="m-2 d-flex justify-content-center align-self-center"> <span
        class="badge bg-secondary">{{contribuinteSelected.nomeCompleto}}</span></h3>

    <table class="table">
      <thead>
        <tr>
          <th>Ano-Mês</th>
          <th>Componentes Incidência</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sal of contribuinteSelected.salariosContribuicao"
          [ngClass]="{'table-warning': salario.id === sal.id && atualizar == true}">
          <td>{{sal.anoMes}}</td>
          <td>
            <table>
              <tr *ngFor="let c of sal.componentesIncidencia">
                <td>{{c.descricao}}</td>
                <td>{{c.valorComponente}}</td>
              </tr>

            </table>

          </td>
          <td>
            <mat-icon  (click)="edit(sal)" role="button" class="mat-18">edit</mat-icon>
            <mat-icon role="button" class="mat-18" (click)="delete(sal)">delete</mat-icon>

          </td>
        </tr>

      </tbody>

    </table>



  </div>

</div>




<div *ngIf="contribuinteSelected.nomeCompleto != ''">
  <table class="table m-1 align-middle">

    <thead>

      <tr class="table-info text-center">
        <td [colSpan]="3" scope="row" class="text-light bg-secondary p-3">
          <h3>
            {{contribuicaoTotal.contribuinte.nomeCompleto}} - CONTRIBUIÇÕES DEVIDAS</h3>
        </td>
      </tr>
      <tr>
        <th>Ano-Mês</th>
        <th>Faixa Contribuição</th>
        <th>Total mês</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of contribuicaoTotal.contribuicaoMensal">
        <td> {{c.anoMes}}</td>
        <td>
          <table>
            <tr *ngFor="let f of c.faixaContribuicao">
              <td>{{f.nomeFaixa}}</td>
              <td>{{f.totalFaixa}}</td>
            </tr>
          </table>

        </td>
        <td>{{c.totalDevidoMes | currency}}</td>
      </tr>
      <tr class="table-success text-end">
        <td [colSpan]="3">
          <h4>TOTAL DEVIDO: {{contribuicaoTotal.totalDevido | currency}}</h4>
        </td>
      </tr>
    </tbody>
  </table>
</div>
