

<div class="container">

  <div class="row">

    <form class="form" [formGroup]="form">
      <div class="m-2 p-2 col-lg-5">
        <label class="form-label">Ano-mês</label>
        <input type="text" class="form-control"
        formControlName="anoMes"
        placeholder="Formato Ano-Mês Ex: 2015-02"
        [ngClass]="{'form-control': true,
              'border border-2 border-danger': !form.get('anoMes')?.valid,
              'border border-2 border-success': form.get('anoMes')?.valid
            }"
        >
      </div>

      <div formArrayName="faixasAliquotas" class="border border-info rounded">
        <div *ngFor="let f of getFaixasAliquotas(); let i = index;" class="m-2" >
          <div [formGroup]="f" class="d-flex justify-content-around m-1 p-1 border border-rounded border-secondary">
            <div>

              <label class="form-label">Minimo</label>
              <input
              type="number"
              class="form-control"
              formControlName="minimo"
              placeholder="Valor Mínimo"
              id="minimo"
              name="minimo"
              [ngClass]="{'form-control': true,
              'border border-2 border-danger': f.controls['minimo'].invalid
              ,
              'border border-2 border-success': f.controls['minimo'].valid
            }"
              >

            </div>
            <div>

              <label class="form-label">Maximo</label>
              <input
              type="number"
              class="form-control"
              formControlName="maximo"
              placeholder="Valor Máximo"
              [ngClass]="{'form-control': true,
              'border border-2 border-danger': f.controls['maximo'].invalid
              ,
              'border border-2 border-success': f.controls['maximo'].valid
            }">
            </div>
              <div>

                <label class="form-label">Aliquota</label>
                <input
                type="number"
                class="form-control"
                formControlName="aliquota"
                placeholder="Alíquota Ex: 7.5"
                title="Pressione TAB para adicionar outro grupo"
                [ngClass]="{'form-control': true,
                'border border-2 border-danger': f.controls['aliquota'].invalid
                ,
                'border border-2 border-success': f.controls['aliquota'].valid
              }"
                (keydown.tab)="addFaixas()"
                (keydow.enter)="enviar()">

              </div>

              <div class="d-flex align-items-center">

                <mat-icon class="mat-18" role="button" (click)="removeFaixa(i)">delete-sweep</mat-icon>
              </div>
            </div>
          </div>
          <button role="button" (click)="addFaixas()" class="btn btn-lg btn-info m-2 text-light">

            <mat-icon  class="material-icons me-2 fs-2">
              add_circle_outline

          </mat-icon> Faixa
        </button>
      </div>
    </form>

<div class="d-flex flex-row">


  <button class="btn btn-lg btn-success m-3" [disabled]="atualizar || form.invalid" (click)="enviar()">Enviar</button>
  <button class="btn btn-lg btn-warning m-3" *ngIf="atualizar" [disabled]="form.invalid" (click)="update()">Atualizar</button>
</div>


	</div>
		<div class="response m-3 col-lg-5 border border-secondary rounded" id="response">
      <table  class="table">
        <thead>
          <th>Ano-Mês</th>
          <th>Faixas Alíquota</th>
          <th>Edit</th>

        </thead>
        <tbody>
          <tr *ngFor="let a of aliquotas"
          [ngClass]="{'table-warning': aliquota.id === a.id && atualizar == true}">
            <td>{{a.anoMes}}</td>

            <td>

              <table>
                <tr  *ngFor="let f of a.faixasAliquotas">
                  <td>Mín. {{f.valorMinimo | currency}}</td>
                  <td class="ml-1">Máx. {{f.valorMaximo | currency}}</td>
                  <td class="ml-1 mr-1"> Alíq. {{+f.aliquota}}</td>
                </tr>

              </table>


            </td>

            <td>
              <mat-icon  (click)="edit(a)"  role="button" class="mat-18">edit</mat-icon>
              <mat-icon role="button" class="mat-18" (click)="delete(a)">delete</mat-icon>

            </td>

          </tr>
        </tbody>
      </table>
		</div>

  </div>


